.logo{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week5/logo-ANSWER.svg) no-repeat;
    width: 151px;
    height: 40px;
}

.sidebarNav{
    width: 296px;
    min-height: 100vh;
    background-color: $success;
}
.sidebarMenu{          
    &-link{
        color: $gray-800;
        font-weight: 700;
        &:hover{
            color: $gray-800;
            background: $info;
        }
        &.active{
            box-shadow: 4px 0px 0px 0px #2A8356 inset;
            color:$primary;
        }
    }
    &-icon{
        &active{
            color:$primary;
        }
    }
}
.account{
    &-pic{
        width: 40px;
        height: 40px;  
        background-size: cover;
        background-position: center center;      
    }
}
.controlBody{
    width: 984px;
}
