.table-hover tbody tr:hover{
    background-color: $success;
}
.table{
    & th{
        border-top: none;
        border-bottom: 1px solid $gray-800;
    }
    & td{
        vertical-align: middle;
        border-bottom: 1px solid $info;
    }
    &Icon-title{
        width: 120px;
    }
    &-icon{
        border:none;
        background: transparent;
        &:hover{
            color: $primary;
        }
    }
}

// pagination
.page{
    &-link{
        color: $gray-800;
        border: 1px solid $primary;  
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{       
            color: $white;      
            background: $primary;
        }
        &.active{
            color: $white; 
            background: $primary;
        }
    }
    &Icon{
        font-size: 16px;
        line-height: 19px;
    }
}

//Modal 


// visibility Modal
.visibility{
    &-pic{
        background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/emir.jpeg?raw=true) no-repeat;
        width: 141px;
        height: 141px;
        background-size: cover;
        background-position: center center;
    }
}
.verified-button{
    &:hover{
        color:$gray-800;
    }
    &-text{
        background: $success;
    }
}

.newAccount-form-group{
    & input{
        border:1px solid $gray-800;
    }
}
.newAccountVerif-form-group{
    & button{
        color:$primary;
    }
}

.account{
    &-form-control{
        background-color: $success;
        border:none;
    }
    &-form-control:focus {
        border:1px solid #000;
        background-color: $white;
        box-shadow: none;
    }
}