body{
    font-family: $font-family-base ;
    line-height: 19px;
    color: $gray-800 ;
}
.container{
    max-width: 1280px;
}
code{
    font-family: $font-family-code;
    color: $primary;
    background: $success;
    padding: 0 4px;
    border-radius: 2px;
}
a:hover{
    text-decoration: none;
}
img{
    display: block;
}
ol, ul {
	list-style: none;
}