
// Typography 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$font-family-base: 'Lato','Noto Sans','Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;

$font-family-code: 'Roboto Mono', monospace; 

//Font Size
$font-size-base: 16px ;

$h7 : $font-size-base * 0.875 ;
$h8 : $font-size-base * 0.75 ;

// Color 
$white:#fff!important;
$green-200 : #EDF4EE ;  //success
$green-300 : #CDDDCD ;  //info
$green-500: #2A8356 ;   //primary

$gray-300 : #9e9e9e;
$gray-400 : #707070 ;
$gray-500 : #666666;
$gray-800 : #121212 ;

$pink-600 : #E3006E ; //danger

$primary : $green-500!important;
$secondary : $gray-500!important;
$success : $green-200!important ;
$info : $green-300 !important;
$danger : $pink-600!important ;


//spacer
$space: 16px ;
$space-5 : $space * 2 !important ; 
$space-6 : $space * 3 ;
$space-7 : $space * 4 ;
